asg5/WCFServices/Client/Connected Services/RPServiceReference/RPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63810/RPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63810/RPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63810/RPService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegister_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IRegister_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRegister_ListRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:ListRegistered" />
  </wsdl:message>
  <wsdl:message name="IRegister_ListRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IRegister_ListAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAvailable" />
  </wsdl:message>
  <wsdl:message name="IRegister_ListAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAvailableResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegister">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegister/Register" message="tns:IRegister_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegister/RegisterResponse" message="tns:IRegister_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegister/ListRegistered" message="tns:IRegister_ListRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegister/ListRegisteredResponse" message="tns:IRegister_ListRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegister/ListAvailable" message="tns:IRegister_ListAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegister/ListAvailableResponse" message="tns:IRegister_ListAvailable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegister" type="tns:IRegister">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IRegister/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRegistered">
      <soap:operation soapAction="http://tempuri.org/IRegister/ListRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAvailable">
      <soap:operation soapAction="http://tempuri.org/IRegister/ListAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RPService">
    <wsdl:port name="BasicHttpBinding_IRegister" binding="tns:BasicHttpBinding_IRegister">
      <soap:address location="http://localhost:63810/RPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>